<section *ngIf="order">
<h1>Date {{order.create_time | date}}</h1>
<div>
  <table class='table table-bordered'>
    <tr>
      <th>Item</th>
      <th>Quatity</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>
    <tbody>
      <tr *ngFor="let item of order.items; let i = index">
        <td>{{item.item}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.unit_price | currency:currency}}</td>
        <td>{{item.unit_price * item.quantity | currency:currency}}</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Total</td>
        <td>{{order.items | totalPipe | currency:currency}}</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Tax</td>
        <td>{{order.items | totalPipe | taxPipe:taxRate | currency: currency}}</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Total</td>
        <td>{{(order.items | totalPipe) + (order.items | totalPipe | taxPipe:taxRate) | currency:currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
</section>